{% extends "base.html" %}

{% block title %}

Login


{% endblock %}

{% block css %}

<style>   
    label {
        font-weight: bold;
    }
    Body {  
      font-family: Calibri, Helvetica, sans-serif;  
      background-color:burlywood;  
    }  
    button {   
           background-color: white;   
           width: 10%;  
            color: black;   
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
             }   
     /* form {   
            border: 200px solid blue;   
        }    */
     input[type=email], input[type=password] {   
            width: 25%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            border: 2px solid black;   
            box-sizing: border-box;   
        }  
     button:hover {   
            opacity: 0.7;   
        }   

     .container {   
            padding: 25px;   
            background-color:brown;  
        }   
    </style>   

{% endblock %}


{% block js %}

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        }
        else
        {
            x.type = "password";
        }
    }

</script>

{% endblock %}

{% block body %}

{% if error %}
    <p class=error><strong>Error:</strong> {{ error }} </p>
{% endif %}

<center><h1> TO DO LIST </h1></center>   
<form action="/login" method="POST">  
    <div class="container">   

        <center><label>Email Id : </label>   
        <input type="email" placeholder="Enter your mail id" name="email" required></center> 

        <center><label for="psw">Password : </label> 
        <input type="password" placeholder="Enter Password" value="" id="myInput" name="password" required></br></center>

        <center>
            <input type="checkbox" > Remember me 

            <center><button type="submit">Login</button> </center>

            <br> <a href="#"> forget password </a>
            <a href="{{ url_for('signup') }} "> Signup</a>
            <br><br><a href="{{ url_for('login') }} "> Admin_Login</a>
        
        </center>
    </div>
</form>

{% endblock %}